
form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100vw;
  overflow: hidden;
  border-style: solid;
}
.fixed_header thead {
  background: black;
  color: #fff;
  position: sticky;
  top: 0;
}

 .scrollbar {
  position: -webkit-sticky;
  position: relative;
  height: 300px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
